@font-face {
    font-family: "baseone";
    src: url(../font/BASEONE-BOLD.OTF);
    src: url(../font/BASEONE-HEAVY.OTF);
    src: url(../font/BASEONE-REGULAR.OTF);
}

@font-face {
    font-family: "DEUTSCHLANDER20";
    src: url(../font/DEUTSCHLANDER20-W1158.TTF);
}

@font-face {
    font-family: "Myriad";
    src: url(../font/8143.otf) format("truetype");
    font-display: swap;
    font-weight: 700;
    font-weight: 400;
}

@font-face {
    font-family: "Oswald";
    src: url(../font/Oswald-Bold.ttf);
    src: url(../font/Oswald-ExtraLight.ttf);
    src: url(../font/Oswald-Light.ttf);
    src: url(../font/Oswald-Medium.ttf);
    src: url(../font/Oswald-Regular.ttf);
    src: url(../font/Oswald-SemiBold.ttf);
    font-weight: 200;
    font-weight: 300;
    font-weight: 400;
    font-weight: 500;
    font-weight: 600;
    font-weight: 700;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

.body-line {
    border: 1px solid #fff;
    margin-top: 20px;
}


/* Header */

.header {
    font-family: "Oswald";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    border-bottom: 2px solid #fff;
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    z-index: 2px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.header__logo {
    position: relative;
    z-index: 3;
}

.header__buy {
    position: relative;
    z-index: 3;
    padding: 10px 20px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.12), -9px -9px 15px #FFFFFF;
    border-radius: 25px;
    transition: .5s;
}

.header__buy:hover {
    box-shadow: inset 4px 4px 15px rgba(0, 0, 0, 0.12), inset -9px -9px 15px #FFFFFF;
}

.header__buy a {
    color: #000;
    text-decoration: none;
}


/* title */

.wrapper__title h2 {
    text-align: center;
    color: #ce1212;
    font-size: 50px;
    margin-top: 100px;
    font-family: "Myriad";
    text-transform: uppercase;
    letter-spacing: 14px;
}


/* Banner */

.banner {
    font-family: "Myriad";
}

.banner__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.banner__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
    line-height: 180px;
}

.banner__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}

.banner__item-text {
    width: 400px;
}

.banner__img img {
    width: 100%;
}


/* Orakal */

.orakal {
    font-family: "Myriad";
}

.orakal__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.orakal__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
    line-height: 180px;
}

.orakal__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}

.orakal__img img {
    width: 100%;
}


/* Orkala setikali */

.orakal-setkali {
    font-family: "Myriad";
}

.orakal-setkali__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.orakal-setkali__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
    line-height: 180px;
}

.orakal-setkali__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}

.orakal__item-text {
    width: 400px;
}

.saved-text {
    line-height: 0.6;
    margin-top: 70px;
}


/* Bortma harflar */

.bortma-hatflar {
    font-family: "Myriad";
}

.bortma-hatflar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.bortma-hatflar__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
    line-height: 180px;
}

.bortma-hatflar__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}

.bortma-hatflar__item-text {
    width: 400px;
}

.saved-text {
    line-height: 0.6;
    margin-top: 70px;
}

.bortma-hatflar__img img {
    width: 100%;
}


/* Quti */

.quti {
    font-family: "Myriad";
}

.quti__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.quti__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
    line-height: 180px;
}

.quti__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}

.quti__item-text {
    width: 400px;
}

.quti__img img {
    width: 100%;
}


/* Shtender */

.shtender {
    font-family: "Myriad";
}

.shtender__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.shtender__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
    line-height: 180px;
}

.shtender__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}

.shtender__item-text {
    width: 400px;
}

.shtender__img img {
    width: 100%;
}


/* Stella */

.stella {
    font-family: "Myriad";
}

.stella__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.stella__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
    line-height: 180px;
}

.stella__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}

.stella__item-text {
    width: 400px;
}

.stella__img img {
    width: 100%;
}


/* Pilon */


/* 
    .pilon {
        font-family: "Oswald";
    }

    .pilon__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 40px;
    }

    .pilon__item-title {
        text-transform: uppercase;
        font-size: 230px;
        color: #ce1212;
        font-family: "DEUTSCHLANDER20";
        letter-spacing: 2px;
    }

    .pilon__item-subtitle {
        font-size: 68px;
        font-family: "baseone";
        font-weight: 700;
        color: #ce1212;
    } */


/* Pauk */

.pauk {
    font-family: "Myriad";
}

.pauk__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.pauk__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
    line-height: 180px;
}

.pauk__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}

.pauk__item-text {
    width: 400px;
}

.pauk__img img {
    width: 100%;
}


/* Roll-up */

.roll-up {
    font-family: "Myriad";
}

.roll-up__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.roll-up__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
    line-height: 180px;
}

.roll-up__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}

.roll-up__item-text {
    width: 400px;
}

.roll-up__img img {
    width: 100%;
}


/* Pop-up */

.pop-up {
    font-family: "Myriad";
}

.pop-up__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.pop-up__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
    line-height: 180px;
}

.pop-up__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}

.korgazma-stendi__img img {
    width: 100%;
}


/* Foto qog'oz */

.foto-qogoz {
    font-family: "Myriad";
}

.foto-qogoz__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.foto-qogoz__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
    line-height: 180px;
}

.foto-qogoz__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}


/* Holst */

.holst {
    font-family: "Myriad";
}

.holst__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.holst__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
    line-height: 180px;
}

.holst__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}

.holst__item-text {
    width: 400px;
}

.holst__img img {
    width: 100%;
}


/* Promo ustun */

.promo-ustun {
    font-family: "Myriad";
}

.promo-ustun__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.promo-ustun__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
    line-height: 180px;
}

.promo-ustun__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}


/* Korgazma stendi */

.korgazma-stendi {
    font-family: "Myriad";
}

.korgazma-stendi__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.korgazma-stendi__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
    line-height: 180px;
}

.korgazma-stendi__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}

.korgazma-stendi__item-text {
    width: 400px;
}


/* Tablichka */

.tablichka {
    font-family: "Myriad";
}

.tablichka__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.tablichka__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
}

.tablichka__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
}


/* Elonlar burchagi */


/* .elonlar-burchagi {
    font-family: "Oswald";
}

.elonlar-burchagi__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.elonlar-burchagi__item-title {
    text-transform: uppercase;
    font-size: 230px;
    color: #ce1212;
    font-family: "DEUTSCHLANDER20";
    letter-spacing: 2px;
}

.elonlar-burchagi__item-subtitle {
    font-size: 68px;
    font-family: "baseone";
    font-weight: 700;
    color: #ce1212;
} */

.mobile__tashqi-reklama-inner {
    background-color: #f1f1f1;
    box-shadow: -7px -7px 12px #FFFFFF, 5px 5px 18px rgba(0, 0, 0, 0.1);
    width: 450px;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
}

.mobile__tashqi-reklama-img img {
    width: 100%;
}

.mobile__tashqi-reklama-text {
    font-size: 30px;
    font-family: "Myriad";
    text-align: center;
    margin-top: 20px;
}

.mobile__tashqi-reklama-text a {
    text-decoration: none;
    color: #000;
}

.banner__item-btn {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    box-shadow: -7px -7px 12px #FFFFFF, 5px 5px 18px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 20px;
}

.banner__item-btn:hover {
    box-shadow: inset 4px 4px 15px rgba(0, 0, 0, 0.12), inset -9px -9px 15px #FFFFFF;
}

.banner__item-btn {
    color: #000;
    text-decoration: none;
}

.mobile__tashqi-reklama {
    display: none;
}

.formBlock input {
    width: 100%;
    height: 60px;
    background: #f1f1f1;
    padding: 10px 15px;
    border: 0px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.12), -9px -9px 15px #FFFFFF;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .5s;
}

.formBlock input:focus {
    outline: none;
    box-shadow: inset 4px 4px 15px rgba(0, 0, 0, 0.12), inset -9px -9px 15px #FFFFFF;
}

.formBlock label {
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
}

.formBlock button {
    background: #f1f1f1;
    border: 0px;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.12), -9px -9px 15px #FFFFFF;
    width: 25%;
    margin: 0 auto;
    font-family: "Myriad";
    transition: .5s;
    cursor: pointer;
}

.formBlock button:hover {
    box-shadow: inset 4px 4px 15px rgba(0, 0, 0, 0.12), inset -9px -9px 15px #FFFFFF;
}

.formBlock textarea {
    width: 100%;
    resize: vertical;
    height: 200px;
    border: 0px;
    background: #f1f1f1;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.12), -9px -9px 15px #FFFFFF;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
    transition: .5s;
}

.formBlock textarea:focus {
    outline: none;
    box-shadow: inset 4px 4px 15px rgba(0, 0, 0, 0.12), inset -9px -9px 15px #FFFFFF;
}

.error-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ce1212;
    font-size: 18px;
}

.button-center {
    text-align: center;
}

.form {
    width: 50%;
    margin: 0 auto;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Myriad";
}

.popups.active {
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.form__title {
    text-align: center;
    color: #ce1212;
    font-size: 40px;
}

.popups {
    position: fixed;
    will-change: transform, opacity;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    z-index: 99;
}

.popup__inner {
    background: #f1f1f1;
    width: 50%;
    padding: 20px 50px;
    margin: 0 auto;
    border-radius: 30px;
}

.popup__item {
    width: 100%;
    margin: 0 auto;
}

.popup__close {
    font-size: 30px;
    color: #000;
    font-family: sans-serif;
    cursor: pointer;
    text-align: right;
}

@media (max-width: 1367px) {
    .form {
        width: 100%;
    }
}

@media (max-width:1043px) {
    .form__title {
        font-size: 30px;
    }
}

@media (max-width: 850px) {
    .formBlock textarea {
        height: 122px;
    }
    .formBlock input {
        height: 40px;
        margin-top: 6px;
    }
    .popup__inner {
        width: 75%;
    }
    .formBlock button {
        width: 50%;
    }
}

@media (max-width:745px) {
    .banner__item-title {
        font-size: 180px;
        line-height: 131px;
    }
    .banner__item-text {
        font-size: 14px;
        width: 300px;
    }
    .orakal__item-title {
        font-size: 180px;
        line-height: 131px;
    }
    .orakal__item-text {
        font-size: 14px;
        width: 300px;
    }
    .bortma-hatflar__item-title {
        font-size: 180px;
        line-height: 131px;
    }
    .bortma-hatflar__item-text {
        font-size: 14px;
        width: 300px;
    }
    .quti__item-text {
        font-size: 14px;
        width: 300px;
    }
    .quti__item-title {
        font-size: 180px;
        line-height: 131px;
    }
    .shtender__item-text {
        font-size: 14px;
        width: 300px;
    }
    .shtender__item-title {
        font-size: 180px;
        line-height: 131px;
    }
    .stella__item-text {
        font-size: 14px;
        width: 300px;
    }
    .stella__item-title {
        font-size: 180px;
        line-height: 131px;
    }
    .pauk__item-text {
        font-size: 14px;
        width: 300px;
    }
    .pauk__item-title {
        font-size: 180px;
        line-height: 131px;
    }
    .roll-up__item-text {
        font-size: 14px;
        width: 300px;
    }
    .roll-up__item-title {
        font-size: 180px;
        line-height: 131px;
    }
    .holst__item-text {
        font-size: 14px;
        width: 300px;
    }
    .holst__item-title {
        font-size: 180px;
        line-height: 131px;
    }
    .korgazma-stendi__item-text {
        font-size: 14px;
        width: 300px;
    }
    .korgazma-stendi__item-title {
        font-size: 120px;
        line-height: 80px;
    }
}

@media (max-width:550px) {
    .banner__item-title {
        font-size: 110px;
        line-height: 70px;
    }
    .banner__item-text {
        font-size: 12px;
        width: 200px;
    }
    .orakal__item-title {
        font-size: 110px;
        line-height: 70px;
    }
    .orakal__item-text {
        font-size: 12px;
        width: 200px;
    }
    .bortma-hatflar__item-title {
        font-size: 110px;
        line-height: 70px;
    }
    .bortma-hatflar__item-text {
        font-size: 12px;
        width: 200px;
    }
    .quti__item-text {
        font-size: 12px;
        width: 200px;
    }
    .quti__item-title {
        font-size: 110px;
        line-height: 70px;
    }
    .shtender__item-text {
        font-size: 12px;
        width: 200px;
    }
    .shtender__item-title {
        font-size: 110px;
        line-height: 70px;
    }
    .stella__item-text {
        font-size: 12px;
        width: 200px;
    }
    .stella__item-title {
        font-size: 110px;
        line-height: 70px;
    }
    .pauk__item-text {
        font-size: 12px;
        width: 200px;
    }
    .pauk__item-title {
        font-size: 110px;
        line-height: 70px;
    }
    .roll-up__item-text {
        font-size: 12px;
        width: 200px;
    }
    .roll-up__item-title {
        font-size: 110px;
        line-height: 70px;
    }
    .holst__item-text {
        font-size: 12px;
        width: 200px;
    }
    .holst__item-title {
        font-size: 110px;
        line-height: 70px;
    }
    .korgazma-stendi__item-text {
        font-size: 12px;
        width: 200px;
    }
    .korgazma-stendi__item-title {
        font-size: 110px;
        line-height: 70px;
    }
    .wrapper__title h2 {
        font-size: 35px;
        margin-bottom: 50px;
    }
    .form__title {
        font-size: 22px;
    }
}

@media (max-width:500px) {
    .banner {
        display: none;
    }
    .orakal {
        display: none;
    }
    .bortma-hatflar {
        display: none;
    }
    .quti {
        display: none;
    }
    .shtender {
        display: none;
    }
    .stella {
        display: none;
    }
    .pauk {
        display: none;
    }
    .roll-up {
        display: none;
    }
    .holst {
        display: none;
    }
    .korgazma-stendi {
        display: none;
    }
    .pauk {
        display: none;
    }
    .mobile__tashqi-reklama {
        display: block;
    }
    .mobile__tashqi-reklama-inner {
        width: 100%;
    }
    .popup__inner {
        width: 90%;
    }
}

@media (max-width:400px) {
    .wrapper__title h2 {
        font-size: 25px;
        letter-spacing: 9px;
    }
    .popup__inner {
        padding: 18px 26px;
    }
}

@media (max-width: 348px) {
    .header__buy {
        font-size: 15px;
    }
}